
starter.ipynb
starter.py
req.txt
hello.py
__pycache__/app.cpython-311.pyc
__pycache__/hello.cpython-311.pyc
__pycache__/testapp.cpython-311.pyc
venv/Lib/site-packages/pip-23.2.1.dist-info/AUTHORS.txt
venv/Lib/site-packages/pip-23.2.1.dist-info/entry_points.txt
venv/*
img/heart.svg
img/heart.webp
templates/base.html
templates/extendBase.html
templates/learn.html
templates/login.html
testapp.py
applearn.py
Jun Trial/heart_explore random forest 1 standard.ipynb
Jun Trial/model_noScale.pkl
Jun Trial/model_pkl
Jun Trial/model.joblib
Jun Trial/model_noScale.joblib
