<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/> -->
  </head>
  <body>
    <div class="testbox1">
      <form action="/prediction" method="POST" target="_blank">
        <div class="banner">
          <h1>Prediction Result</h1>
        </div>
        <h2 style="text-align: center;"> Given the information on the form, your heart prediction is following: </h2>

        <div class="prediction_res">
          <div class="thumbnail">
            <!-- This part only shows if prediction is 0 -->
            {% if prediction [0]== 0 %}
            <h3>Healthy</h3>
            <img src="static/images/happy_heart.png" class="emoji" />
            <div class = "recomendations">
              <h2 style="text-align: center;" class= "recom">You Are Doing Great!</h2>
              <h2 style="text-align: center;" class= "recom">Keep Up!</h2>
            </div>
            {% endif %}
          </div>
          <div class="thumbnail">
            <!-- This part only shows if prediction is 1 -->
            {% if prediction[0] == 1 %}
            <h3>Unhealthy</h3>
            <img src="static/images/sad_heart.png" class="emoji" />
            <div class = "recomendations">
                <h2 style="text-align: center;" class= "recom">You Are Doing Not so good!</h2>
                <h2 style="text-align: center;" class= "recom">Take care of your heart!</h2>
              </div>
            {% endif %}
          </div>
          <div class = "recomendations">
            <h2 class= "recom">Hearty Visualizations</h2>
            <ul>
              <li>Viz 1</li>
              <li>Viz 2</li>
              <li>Viz 3</li>
              <li>Viz 4</li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    
  </body>
</html>