<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/> -->
  </head>
  <body>
    <div class="testbox1">
      <form action="/prediction" method="POST" target="_blank">
        <div class="banner">
          <h1 style="text-align: center;">Prediction Result</h1>
        </div>
        <h3 style="text-align: center;"> From the information given, your heart prediction is: </h3>

        <div class="prediction_res">
          <div class="thumbnail">
            <!-- This part only shows if prediction is 0 -->
            {% if prediction [0]== 0 %}
            <h2 style="text-align: center;">Healthy</h2>
            <div style="text-align: center;">
              <img src="static/images/happy_heart.png" class="emoji">
            </div>
            <div class = "recomendations">
              <h2 style="text-align: center;" class= "recom">You Are Doing Great!</h2>
              <h2 style="text-align: center;" class= "recom">Keep Up!</h2>
            </div>
            {% endif %}
          </div>
          <div class="thumbnail">
            <!-- This part only shows if prediction is 1 -->
            {% if prediction[0] == 1 %}
            <h2 style="text-align: center;">Unhealthy</h2>
            <div style="text-align: center;">
              <img src="static/images/sad_heart.png" class="emoji">
            </div>
            <div class = "recomendations">
                <h2 style="text-align: center;" class= "recom">You Are Doing Not so good!</h2>
                <h2 style="text-align: center;" class= "recom">Take care of your heart!</h2>
              </div>
            {% endif %}
          </div>
          <div class = "recomendations">
            <!-- <h2 style="text-align: center;" class= "recom">Heart Visualizations</h2> -->
            <div style="text-align: center;">
            <ul>
              <li><img  src="static/images/Global Map View.png" alt="Embedded PNG Image" width="1200", height="700"></li>
              <li><img src="static/images/Continent.png" alt="Embedded PNG Image" width="1200", height="700"></li>
             <li><img  src="static/images/Genderview.png" alt="Embedded PNG Image" width="1200", height="700"></li>
              
            </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
    
  </body>
</html>